<header>

    <div id="menu-bar" class="fas fa-bars"></div>

    <a href="#" class="logo"><span>Trip</span>Now</a>

</header>

<div class="confirm-body">
    
    <div class="content">
        <div class="success-warning">
            <h1>404</h1>
            <h3>Error</h3>
            <h4>Not Found</h4>
        </div>

        <div class="go-back">
            <button class="btn btn-info" routerLink="/">
                <ul>
                    <li><span class="material-symbols-outlined">home</span></li>
                    <li style="margin-top: 2%;">Home</li>
                </ul>
            </button>
        </div>
    </div>
</div>