<header>

    <div id="menu-bar" class="fas fa-bars"></div>

    <a href="#" class="logo"><span>Trip</span>Now</a>

    <nav class="navbar">
        <a [routerLink]="['/packages']">Packages</a>
        <a [routerLink]="['/gallery']">Exclusive</a>
        <a [routerLink]="['/review']">Review</a>
    </nav>

    <div class="icons">
        <i class="fas fa-search" id="search-btn"></i>
        <i class="fas fa-user" id="login-btn"></i>
    </div>

    <form action="" class="search-bar-container">
        <input type="search" id="search-bar" placeholder="search here...">
        <label for="search-bar" class="fas fa-search"></label>
    </form>

</header>

<!-- login form container  -->

<div class="login-form-container">

    <i class="fas fa-times" id="form-close"></i>

    <form action="">
        <h2>Want to log out?</h2>
        <input type="submit" value="LogOut" class="btn" (click)="logout()">
    </form>
</div>