.container .heading {
    align-items: start;
    text-align: left;
}

.container .heading .top .circle {
    align-items: start;
}

.container .heading .top .circle i {
    font-size: 1.5rem;
    color: green;
    margin-top: 10px;
}

.container .heading .top {
    display: flex;
    padding-left: 5px;
    margin-left: 10px;
}

.container .heading .top .num {
    margin-left: 5px;
}

.container .heading .solid-line {
    border-top: 1px solid #000;
    margin-top: 10px;
}

.container .dialog-content {
    position: relative;
    display: flex;
}

.container .dialog-content .images {
    display: flex;
    flex: 1;
}

.container .dialog-content .images .main-images {
    flex: 30%;
    /* Take 30% of the available space */
}

.container .dialog-content .images .gallery {
    flex: 70%;
    /* Take 70% of the available space */
    border-left: 2px solid #000;
    /* Add bold border on left */
    padding-left: 10px;
    /* Add padding to separate images from border */
}

.container .close-container {
    position: absolute;
    top: 10px;
    right: 10px;
}

.container .dialog-content .images .main-images h1 {
    margin-bottom: 10px;
    /* Add margin below heading */
    font-size: 20px;
}

.container .dialog-content .images .main-images .pic {
    display: flex;
    flex-wrap: wrap;
}

.container .dialog-content .images .main-images .pic .row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    /* Adjust margin as needed */
}

// .container .dialog-content .images .main-images .pic .image {
//     width: 48%; /* Set width to fit two images in a row */
//     margin-bottom: 10px; /* Adjust margin as needed */
// }

.container .dialog-content .images .main-images .pic .image img {
    width: 100%;
    /* Ensure images fill the container */
}

.container .dialog-content .images .main-images .pic .image {
    width: 48%;
    position: relative;
    margin-bottom: 20px;
    /* Adjust margin as needed */
}

.container .dialog-content .images .main-images .pic .image .image-text {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 5px;
    /* Add padding for spacing */
}

.container .dialog-content .images .main-images .pic .image .image-text p {
    margin: 0;
    /* Reset margin for paragraphs */
    color: white;
    font-size: 1rem;
}