<!-- start of breakcrumb header -->
<div class="top-bread">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item done">User Details</li>
            <li class="breadcrumb-item cur">Payment Details</li>
        </ol>
    </nav>
</div>
<hr>
<!-- end of breakcrumb header -->

<div class="middle-book">
    <!-- right hand side -->
    <div class="payment-detail">
      <div class="payment-head">
        <h1><strong>Payment</strong></h1>
        <p>We'll use this information to send you confirmation and updates about your booking.</p>
      </div>
  
      <div class="gap">.</div>
  
      <div class="payment-det">
        <h1><strong>Total Price: $84.09</strong></h1>
        <ul>
          <li><span class="material-symbols-outlined">schedule</span></li>
          <li><h4><strong>Free cancellation before 19 April</strong></h4></li>
        </ul>
          
      </div>

      <div class="payment-cond">
        <p>
            By clicking "Complete Booking", you acknowledge that you have read and are bound by TripNow's Terms & Privacy and Cookies Statement; Viator's Terms; plus the tour operator's rules & regulations (see listing for more details).

        </p>

        <!-- <button class="pay" >Complete Booking</button> -->
        <div class="pay" #paymentRef></div>

        <p>
            Your booking is facilitated by Viator, Inc. (a TripNow brand), but a third-party tour operator provides the tour/activity directly to you. By clicking "Complete Booking", you acknowledge that you agree to receive special offers, tips and other updates from us, from which you can unsubscribe at any time.
        </p>
    </div>

    <p>
        Your statement will list Viator/TripNow as the merchant for this transaction
    </p>
  
  
    </div>
    
    <!-- left hand side -->
    <div class="book-card">
      <!-- book-card 1 -->
      <div class="book-card1">
        <h1><strong>Review Order Details</strong></h1>
        <hr>


        <div class="trip-detail">
          <div class="trip-pic">
            <img src="https://media-cdn.tripadvisor.com/media/attractions-splice-spp-360x240/07/b4/3f/5e.jpg" alt="Trip">
          </div>
          
          <div class="trip-det">
            <h3><strong>Koh Hey in Half a Day</strong></h3>
            <p>Koh Hey in Half a Day - 12:00 pm
              Saturday, 20 April, 2024
              <br>2 Adults
            </p>
            <p>Free cancellation before 19 April</p>
          </div>
        </div>
  
        <div style="margin-top: 8%;">
          <div class="trip-payit">
            <span>Booking Fee:</span>
            <span>$0.00</span>
          </div>
          <div class="trip-payit">
            <span>Subtotal:</span>
            <span>$84.09</span>
          </div>
          <div class="trip-payit">
            <span><strong>Total:</strong></span>
            <span><strong>$84.09</strong></span>
          </div>
        </div>

      </div>
  
    </div>
    <!-- end of book-card1 -->
  </div>